<section id="experience">
  <div class="container">
    <div class="experience-inner">
      <h2 class="title">Experience</h2>
      <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
      <div id="owl-carousel" class="experience-slider row">
        <app-experience></app-experience>
        <app-experience></app-experience>
        <app-experience></app-experience>
        <app-experience></app-experience>
      <!-- owl navigation -->
      <div class="customNavigation">
        <a class="btn prev btn-floating waves-effect waves-light btn-large white"><i class="mdi-navigation-chevron-left brand-text"></i></a>
        <a class="btn next btn-floating waves-effect waves-light btn-large white"><i class="mdi-navigation-chevron-right brand-text"></i></a>
      </div>
    </div>
  </div>
  </div>
</section>
