<div class="col l4 m6 s12">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <h2 class="experience-title">{{experience.name}}</h2>
      <img class="activator" src="{{experience.pictureUrl}}">
    </div>
    <div class="card-content">
      <span class="card-title activator reveal-title">{{experience.title}}<a target="_blank" href="{{experience.liveView}}"><i class="material-icons right ">remove_red_eye</i></a></span>
      <p>Client: <a target="_blank" href="{{experience.clientLink}}">{{experience.client}}</a></p>
    </div>
  </div>
</div>
