<div class="col s12">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <h2 class="experience-title">January 2013 - Present</h2>
      <img class="activator" src="assets/img/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Windows Phone</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
      <a href="#" class="card-subtitle">Windows Phone</a>
      <p>Here is some more information about this product that is only revealed once clicked on.
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>
  </div>
</div>
