<section id="{{contactNavigation.id}}" class="footer-top">
  <div class="container">
    <div class="{{contactNavigation.id}}-inner">
      <div class="row">
        <div class="col s12">
          <div class="footer-top-inner">
            <h2 class="title">{{contactNavigation.name}}</h2>
            <p>Got a question? Remark? Or you just want to say hi? Feel free to contact me by leaving your details and a message below!</p>
            <div class="contact">
              <div class="row">
                <div class="col s12">
                  <div class="contact-form">
                    <app-contact-form></app-contact-form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
