<section id="{{aboutNavigation.id}}">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="{{aboutNavigation.id}}-inner">
          <div class="row">
            <div class="col s12 m4 l3">
              <div class="about-inner-left">
                <img class="profile-img" src="assets/img/me.jpg" alt="Profile Image">
              </div>
            </div>
            <div class="col s12 m8 l9">
              <div class="about-inner-right">
                <h3>About Me</h3>
                <p>
                  My name is Wannes Van Dorpe and I am a passionated software engineer who loves to create quality web and mobile applications.
                  I' m currently working as a Java Software Engineer at Realdolmen. This means working for various companies in different branches.
                  I love creating fast, reliable and good looking applications. I take pride in creating the best possible user experience for my clients to enjoy.
                </p>
                <div class="personal-information col s12 m12 l6">
                  <h3>Personal Information</h3>
                  <ul>
                    <li><span>Name : </span>Wannes Van Dorpe</li>
                    <li><span>Age : </span>26 Years</li>
                    <li><span>Email : </span>info@wannesvandorpe.be</li>
                    <li><span>Title : </span>Java Software Engineer</li>
                    <li><span>Work : </span>Realdolmen</li>
                  </ul>
                </div>
                <div class="col s12 m12 l6">
                  <app-technologies></app-technologies>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
