<header id="header" role="banner">
  <div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <!--<a href="index.html" class="brand-logo">Wannes van dorpe</a>-->
          <!-- Image Based Logo -->
          <!-- <a href="index.html" class="brand-logo"><img src="img/logo.jpeg" alt="logo img"></a>  -->
          <ul class="right hide-on-med-and-down custom-nav menu-scroll">
            <li><a href="#{{about.id}}">{{about.name}}</a></li>
            <li><a href="#{{skills.id}}">{{skills.name}}</a></li>
            <li><a href="#{{experience.id}}">{{experience.name}}</a></li>
            <li><a href="#{{contact.id}}">{{contact.name}}</a></li>
          </ul>
          <!-- For Mobile View -->
          <ul id="slide-out" class="side-nav menu-scroll">
            <li><a href="#{{about.id}}">{{about.name}}</a></li>
            <li><a href="#{{skills.id}}">{{skills.name}}</a></li>
            <li><a href="#{{experience.id}}">{{experience.name}}</a></li>
            <li><a href="#{{contact.id}}">{{contact.name}}</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </div>
    </nav>
  </div>
</header>
