<section id="{{homeNavigation.id}}">
  <div class="overlay-section">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="{{homeNavigation.id}}-inner">
            <h1 class="home-title">HI! I'm <span>Wannes Van Dorpe</span></h1>
            <span class="rw-words rw-words-1">
              <h2>I'm a Belgian based <br />
                <span>Developer</span>
                <span>Creator</span>
                <span>Web addict</span>
                <span>Angular fan</span>
                <span>Designer</span>
                <span>Security enthusiast</span>
                <br />creating stunning and powerful applications for everyone to enjoy
              </h2>
            </span>
            <a class="hire-me-btn btn waves-effect waves-light btn-large" href="#contact">Contact Me <i
              class="material-icons left">send</i>
            </a>
            <!-- Call to About Button -->
            <button class="btn btn-floating waves-effect waves-light btn-large white call-to-about"><i
              class="material-icons">play_for_work</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
