<form>
  <div class="input-field">
    <input type="text" class="input-box" name="contactName" id="contact-name">
    <label class="input-label" for="contact-name">Name</label>
  </div>
  <div class="input-field">
    <input type="email" class="input-box" name="contactEmail" id="email">
    <label class="input-label" for="email">Email</label>
  </div>
  <div class="input-field">
    <input type="text" class="input-box" name="contactSubject" id="subject">
    <label class="input-label" for="subject">Subject</label>
  </div>
  <div class="input-field textarea-input">
    <textarea class="materialize-textarea" name="contactMessage" id="textarea1"></textarea>
    <label class="input-label" for="textarea1">Message</label>
  </div>
  <button class="left waves-effect btn-flat brand-text submit-btn" type="submit">send message</button>
</form>
