<!-- Start Footer Bottom -->
<footer id="footer" role="contentinfo">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="footer-inner">
            <!-- Bottom to Up Btn -->
            <button class="btn-floating btn-large up-btn"><i class="mdi-navigation-expand-less"></i></button>
            <p class="design-info">Designed By <a href="http://www.markups.io/">MarkUps.io</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
