<!-- Start Footer Bottom -->
<footer id="footer" role="contentinfo">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="footer-inner">
            <button class="btn-floating btn-large up-btn"><i class="material-icons">expand_less</i></button>
            <p class="design-info">Made with <span class="footer-heart">❤</span> by Wannes Van Dorpe</p>
            <p><img src="assets/img/social-icons/github.svg"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
